run = "sh -c 'cd ./backend/cmd && go run .'"
compile = "sh -c 'cd ./backend/cmd && go build .'" 

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "cd ./backend/cmd && ./main"]
build = ["sh", "-c", "cd ./backend/cmd && go build ."]
