.wakatime-stats {
    border-radius: 10px;
    width: 100vh;
    height: auto;
    box-shadow: 0px 3px 15px rgba(58, 58, 58, 0.2);
    color: var(--text-color-primary);
}

.wakatime-stats-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-deep);
}

.wakatime-stats-full-chart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.wakatime-stats-tab-chart {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .wakatime-stats {
        width: 100%;
    }
}

.wakatime-stats .ant-card {
    background-color: var(--color-deep);
}

.wakatime-stats .ant-card .ant-tabs-tab-btn {
    color: var(--text-color-primary);
}
