.experience {
    margin-top: 70px;
}

/* Add this to your existing CSS */
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3e497a;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-button.visible {
    opacity: 1;
    visibility: visible;
}
