.roadmap-background {
    margin-top: 90px;
    width: 100%;
    height: auto;
    font-size: 20px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.roadmap-content {
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
}

.card-title {
    display: flex;
    align-items: center;
}

.title-text {
    margin-left: 8px;
}
