.roadmap-background {
    margin-top: 90px;
    width: 100%;
    height: auto;
    font-size: 20px;
    color: #3e497a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card-title {
    display: flex;
    align-items: center;
}

.title-text {
    margin-left: 8px;
}
