.wakatime-stat {
    border-radius: 10px;
    width: 60vh;
    height: auto;
    margin-bottom: 55px;
    box-shadow: 0px 3px 15px rgba(58, 58, 58, 0.2);
    text-align: center;
    justify-content: center;
    align-items: center;
}