.certification-display {
    margin-top: 90px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certification-display img {
    position: relative;
    margin: 2%;
    overflow: hidden;
    background-position: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 150px;
    font-size: 5rem;
    z-index: 10;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 150px;
    font-size: 5rem;
    z-index: 10;
    cursor: pointer;
}

@media only screen and (max-width: 2000px) {
    .certification-display img {
        width: 60%;
    }
}

@media only screen and (max-width: 1550px) {
    .certification-display img {
        width: 60%;
        padding-top: 0%;
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 1300px) {
    .certification-display img {
        width: 60%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 1100px) {
    .certification-display img {
        width: 60%;
        padding-top: 15%;
        padding-bottom: 40%;
    }
}

@media only screen and (max-width: 850px) {
    .certification-display img {
        width: 100%;
        padding-top: 45%;
        padding-bottom: 65%;
    }
}

@media (max-width: 768px) {
    .arrow-left,
    .arrow-right {
        display: none;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}