.home {
    width: 100%;
    height: auto;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
}

.about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: whitesmoke;
}

.about h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: whitesmoke;
}

.about {
    width: 100%;
    height: calc(110vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: whitesmoke;
}

.about img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.about .prompt {
    margin-top: 10px;
    width: 55%;
    font-size: 20px;
}

.about p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: whitesmoke;
}


@media (max-height: 600px) {
    .about h2 {
        font-size: 30px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .about img {
        display: none;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}