/* this css is example how to override css libs */
.wakatime-stats .ant-card-body {
    background-color: var(--color-deep);
}

.wakatime-stats .ant-card-head {
    background-color: var(--color-deep);
}

.wakatime-stats .ant-descriptions-item-label>span,
.wakatime-stats .ant-descriptions-item-content {
    color: whitesmoke;
}

.ant-descriptions-row .ant-descriptions-item-content {
    vertical-align: top;
}

.first-row-highlight>div>table>tbody>tr.ant-descriptions-row:first-child {
    background-color: #121d38;
}
