.donation-card-background {
    display: flex;
    flex-direction: column;
}

.donation-card-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.donation-card-head img {
    margin-left: 10px;
    margin-right: 60px;
    width: 80px;
    height: 80px;
}

.donation-card-tail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donation-card-address {
    margin-bottom: 10px;
}

.donation-card-input {
    width: 100%;
}
