.donation-card-background {
    display: flex;
    flex-direction: column;
}

.donation-card-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.donation-card-tail {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.donation-card-address {
    margin-bottom: 10px;
    width: 400px;
}

.donation-card-input {
    width: 400px;
}
