@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
    --text-color-primary: whitesmoke;
    --color-primary: #21325e;
    --color-secondary: #3e497a;
    --color-deep: #1a2949;
    --font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-secondary: "Source Sans Pro", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-secondary);
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    background-color: var(--color-secondary);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-button.visible {
    opacity: 0.9;
    visibility: visible;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}