@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
    --color-primary: #21325e;
    --color-secondary: #3e497a;
    --color-deep: #1a2949;
    --text-color-primary: whitesmoke;
    --font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-secondary: "Source Sans Pro", sans-serif;
}

body.light {
    --text-color-primary: #000;
    --color-primary: #f0f0f0;
}

body.dark {
    --text-color-primary: whitesmoke;
    --color-primary: #21325e;
}

body.dim {
    --text-color-primary: #ccc;
    --color-primary: #324a66;
}

 body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-secondary);
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    padding: 0;
    margin: 0;
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}