@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
    --font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-secondary: "Source Sans Pro", sans-serif;
    --const-primary-color: #21325e;
    --const-secondary-color: #3e497a;
    --const-primary-text-color: #f5f5f5;

    /* Hardcoded Dark Theme Variables */
    --color-primary: #21325e;
    --color-primary-rgb: 33, 50, 94;
    /* Added for transparency support */
    --color-secondary: #3e497a;
    --color-deep: #1a2949;
    --text-color-primary: #f5f5f5;
    --text-color-secondary: #d9d9d9;
    --color-highlight: #4facfe;
    /* Dynamic Highlight Color */
}

::selection {
    background: var(--const-secondary-color);
    /* Highlight color follows theme */
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-secondary);
    background-color: var(--color-primary);
    color: var(--text-color-primary);
    padding: 0;
    margin: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}