.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--const-primary-color);
    color: var(--const-primary-text-color);
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 2;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--const-secondary-color);
}

.status-icons {
    position: fixed;
    left: 2px;
    z-index: 10;
}

.status-icon {
    color: var(--const-primary-text-color);
    padding: 2px;
}

.status-icon:hover {
    opacity: 0.8;
    background-color: var(--const-secondary-color);
}

.footer-right-actions {
    position: fixed;
    right: 20px;
    bottom: 2px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 768px) {
    .footer {
        font-size: 12px;
    }

    .status-icons {
        display: none;
    }

    .footer-right-actions {
        right: 10px;
    }
}