.navbar {
    background: var(--const-primary-color);
    border-bottom: 0.1px solid var(--const-secondary-color);
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 50px;
    text-underline-offset: 0.25em;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--const-primary-text-color);
}

.links a:hover {
    filter: brightness(110%);
    transform: scale(1.1);
    transition: 0.1s ease-in;
    color: lightyellow;
}

.links a.active {
    text-decoration: underline;
}

.navbar a {
    color: var(--const-primary-text-color);
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}

.toggleButton {
    display: none;
}

.toggleButton svg {
    font-size: 30px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: var(--const-primary-text-color);
    cursor: pointer;
}

@media (max-width: 650px) {
    .navbar {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .toggleButton {
        margin-left: 5%;
        width: 95%;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--const-primary-text-color);
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 25px;
    }

    .links {
        display: none;
    }

    .links.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 500px;
    }
}