.icon-social {
    position: fixed;
    padding: 10px 10px;
    background-color: var(--const-secondary-color);
    color: var(--const-primary-text-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.95;
    transition: opacity 0.3s, visibility 0.3s;
}

.icon-social:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.scroll-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 10px 10px;
    background-color: var(--const-secondary-color);
    color: var(--const-primary-text-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 10;
}

.scroll-button.visible {
    opacity: 0.9;
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .scroll-button {
        right: 10px;
    }
}
